.root > svg {
  animation-name: loading;
  animation-duration: 0.4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes loading {
  to {
    transform: rotate(360deg);
  }
}
